.wrapper {
  margin-top: 90px;
  margin-bottom: 150px;
  /* padding: 1rem; */
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    color: var(--color-dark-purple);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
}
