.wrapper {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 1rem;
  background-color: var(--color-white);
  z-index: 100;
  position: fixed;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}
