.wrapper {
  position: fixed;
  bottom: 0;
  z-index: 100;

  max-width: 1200px;
  width: 100%;
  padding: 1.5rem;

  border-top: 1.5px solid var(--color-light-gray);
  background-color: var(--color-white);

  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  /* align-items: center; */
}
