.searchResults {
  position: absolute;
  background-color: var(--color-white);
  top: 64px;
  width: 100%;
  left: 0px;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  cursor: pointer;

  a {
    color: var(--color-dark-gray);
    font-weight: 400;
    text-decoration: none;
  }

  li {
    border-bottom: solid 1px var(--color-light-gray);
    padding: 1rem;
  }
  li:last-child {
    border: none;
  }
  li:hover {
    background-color: var(--color-light-gray);
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
